* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

body {
font-family: outfit;
margin:20px;
}

button {
  background-color: white;
  border: solid 1px;
  border-radius: 2px;
  padding:00px 5px;
}